

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,img{margin:0;padding:0}
ul,li,ol,dl,dt,dd{list-style: none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
table{border-collapse:collapse;border-spacing:0}
audio,canvas,video { display: inline-block;*display: inline;*zoom: 1;}
fieldset,img{border:0}
caption,th{text-align:left}
q:before,q:after{content:''}
input[type="button"],input[type="submit"],input[type="reset"],textarea,select{-webkit-tap-highlight-color:transparent;}
abbr,acronym{border:0;font-variant:normal}
/* sup{vertical-align:text-top} */
/* sub{vertical-align:text-bottom} */
sup{font-size: 10px;}
sub{font-size: 10px;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
a{text-decoration:none;color: #666;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;}
a:hover{text-decoration:none;cursor: pointer;}
html,body{
	font-family: 'Microsoft Yahei' ,"微软雅黑" ,"arial";
	*font-family: "微软雅黑";
	*font-family: "Microsoft Yahei";
	color: #666;
	overflow-x: hidden;
}
*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
}
img{
	-moz-user-select:none;/*火狐*/
	-webkit-user-select:none;/*webkit浏览器*/
	-ms-user-select:none;/*IE10*/
	-khtml-user-select:none;/*早期浏览器*/
	user-select:none;
}
body{position: relative;max-width: 100%;overflow-x: hidden;-webkit-overflow-scrolling: touch;}
.clear{clear: both;}
.after:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/*********************************/

/*home_url*/
	.home_url{display: block;width: inherit;height: inherit;}

/*滚动条*/
	.nicescroll-rails-hr{display: none !important;}

/*公共头部*/
	.pub_top{
		position: relative;
		width: 100%;
		height: 86px;
		padding: 0 5%;
		/* -webkit-transition: all .3s ease-in-out 0s;
		-moz-transition: all .3s ease-in-out 0s;
		-ms-transition: all .3s ease-in-out 0s;
		-o-transition: all .3s ease-in-out 0s;
		transition: all .3s ease-in-out 0s; */
	}
	.pub_top .logo{
		display: block;
		float: left;
		height: 66px;
		position: relative;
		top: 50%;
		margin-top: -33px;
	}
	.pub_top .pub_search{
		float: right;
		height: 26px;
		position: relative;
		top: 50%;
		margin-top: -13px;
	}
	.pub_top .pub_search .left{
		float: left;
		width: 170px;
		height: 26px;
		border-bottom: 1px solid #999999;
	}
	.pub_top .pub_search .left input[type="button"]{
		display: block;
		float: left;
		width: 30px;
		height: 26px;
		border: none;
		background: none;
		outline: none;
		cursor: pointer;
		background: url(/template/company/beijingqiche/img/a2.png) center no-repeat;
		background-size: 16px 16px;
		-webkit-background-size: 16px 16px;
	}
	.pub_top .pub_search .left input[type="text"]{
		display: block;
		float: right;
		width: 140px;
		height: 26px;
		border: none;
		background: none;
		outline: none;
		font-size: 14px;
		line-height: 26px;
		color: #999999;
	}
	.pub_top .pub_search .right{
		float: right;
		width: 60px;
		height: 26px;
		background: #bd2315;
		margin: 0 0 0 20px;
		position: relative;
		text-align: center;
	}
	.pub_top .pub_search .right:before{
		content: "";
		width: 1px;
		height: 10px;
		position: absolute;
		left: 48%;
		top: 50%;
		margin-top: -5px;
		background: #de918a;
	}
	.pub_top .pub_search .right>a{
		display: block;
		width: 50%;
		float: left;
		height: 26px;
		color: #fff;
		line-height: 26px;
		text-transform: uppercase;
		font-size: 14px;
	}
	.pub_top .pub_nav{
		float: right;
		margin: 0 3% 0 5%;
		position: relative;
	}
	.pub_top .pub_nav>i{
		position: absolute;
		right: 0;
		margin: 0;
		height: 50px;
		width: 50px;
		z-index: 123456;
		display: none;
	}
	.pub_top .pub_nav>i:before,.pub_top .pub_nav>i:after{
		content: "";
		width: 30px;
		height: 1px;
		background: #d12519;
		position: absolute;
		right: 50%;
		top: 20px;
		margin: 0 -10px 0 0;
		-webkit-transition: all .5s ease-in-out 0s;
		transition: all .5s ease-in-out 0s;
	}
	.pub_top .pub_nav>i:after{
		top: auto;
		bottom: 20px;
	}
	.pub_top .pub_nav>i.on:before{
		top: 50%;
		-webkit-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
	}
	.pub_top .pub_nav>i.on:after{
		bottom: 50%;
		-webkit-transform: rotateZ(-45deg);
		transform: rotateZ(-45deg);
	}
	.pub_top .pub_nav ul{
		white-space:nowrap;
		position: relative;
		z-index: 50;
	}
	.pub_top .pub_nav ul li{
		float: left;
		position: relative;
	}
	.pub_top .pub_nav ul li>a{
		display: block;
		text-align: center;
		height: 86px;
		line-height: 86px;
		font-size: 18px;
		color: #868582;
		padding: 0 30px;
		/* -webkit-transition: all .3s ease-in-out 0s;
		-moz-transition: all .3s ease-in-out 0s;
		-ms-transition: all .3s ease-in-out 0s;
		-o-transition: all .3s ease-in-out 0s;
		transition: all .3s ease-in-out 0s; */
	}
	.pub_top .pub_nav ul li:before{
		content: "";
		width: 100%;
		height: 2px;
		background: #fff;
		position: absolute;
		left: 0;
		bottom: 5px;
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transition: all .3s ease-in-out 0s;
		-moz-transition: all .3s ease-in-out 0s;
		-ms-transition: all .3s ease-in-out 0s;
		-o-transition: all .3s ease-in-out 0s;
		transition: all .3s ease-in-out 0s;
	}
	.pub_top .pub_nav ul li dl{
		display: block;
		width: 100%;
		position: absolute;
		top: 110%;
		background: #2f2f2f;
		padding: 5px 0;
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transition: all .3s ease-in-out 0s;
		-moz-transition: all .3s ease-in-out 0s;
		-ms-transition: all .3s ease-in-out 0s;
		-o-transition: all .3s ease-in-out 0s;
		transition: all .3s ease-in-out 0s;
		visibility: hidden;
		visibility: visible\9;
		display: none\9;
	}
	.pub_top .pub_nav ul li dl dd{
		width: 100%;
		text-align: center;
	}
	.pub_top .pub_nav ul li dl dd>a{
		display: block;
		padding: 10px 0;
		font-size: 14px;
		color: #fff;
		-webkit-transition: all .3s ease-in-out 0s;
		-moz-transition: all .3s ease-in-out 0s;
		-ms-transition: all .3s ease-in-out 0s;
		-o-transition: all .3s ease-in-out 0s;
		transition: all .3s ease-in-out 0s;
	}
	.pub_top .pub_nav ul li.on:before{
		bottom: 0;
		opacity: 1;
		filter:alpha(opacity=100);
		background: #d12519;
	}
	.pub_top .pub_nav ul li.on>a{color: #d12519}
	.pub_top .pub_nav ul li:hover:before{
		bottom: 0;
		opacity: 1;
		filter:alpha(opacity=100);
		background: #d12519;
	}
	.pub_top .pub_nav ul li:hover>a{color: #d12519}
	.pub_top .pub_nav ul li:hover dl{
		top: 100%;
		opacity: 1;
		filter:alpha(opacity=100);
		visibility: visible;
		display: block\9;
	}
	.pub_top .pub_nav ul li dl dd>a:hover{
		color: #d12519;
	}
	/*pc*/
	@media screen and (min-width: 1480px) and (max-width: 1660px){
		.pub_top .pub_nav ul li>a{
			padding: 0 20px;
		}
	}
	@media screen and (min-width: 1266px) and (max-width: 1479px){
		.pub_top{
			padding: 0 3%;
		}
		.pub_top .pub_nav{
			margin: 0 3%;
		}
		.pub_top .pub_nav ul li>a{
			padding: 0 16px;
			font-size: 16px;
		}
	}
	@media screen and (min-width: 1200px) and (max-width: 1265px){
		.pub_top{
			padding: 0 3%;
		}
		.pub_top .pub_nav{
			margin: 0 3%;
		}
		.pub_top .pub_nav ul li>a{
			padding: 0 10px;
			font-size: 16px;
		}
	}
	/*ipad*/
	@media screen and (max-width: 1199px){
		.pub_top{
			height: 50px;
		}
		.pub_top .logo{
			height: 40px;
			margin-top: -20px;
		}
		.pub_top .pub_search{
			position: absolute;
			right: 70px;
		}
		.pub_top .pub_nav>i{
			display: block;
		}
		.pub_top .pub_nav{
			float: none;
			position: absolute;
			right: 0;
			margin: 0;
		}
		.pub_top .pub_nav ul{
			width: 300px;
			position: absolute;
			right: -300px;
			overflow-y: auto;
			/* -webkit-transform: translateX(300px);
			transform: translateX(300px); */
			-webkit-transition: all .3s ease-in-out 0s;
			transition: all .3s ease-in-out 0s;
			padding: 10px 0;
		}
		.pub_top .pub_nav ul li{
			float: none;
		}
		.pub_top .pub_nav ul li>a{
			color: #ccc;
			height: 50px;
			line-height: 50px;
			font-size: 16px;
		}
		.pub_top .pub_nav ul li dl{display: none;}
		.pub_top .pub_nav ul.slider{
			background: rgba(0,0,0,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99000000,endcolorstr=#99000000);
			right: 0;
			/* -webkit-transform: translateX(0px);
			transform: translateX(0px); */
		}
	}

/*公共底部*/
	.pub_footer{
		width: 100%;
		padding: 40px 0 25px 0;
		background: #001534;
		border-top: 2px solid #bd2315;
	}
	.pub_footer .pub_footerin{
		height: 140px;
		margin: 0 auto;
		width: 1200px;
	}
	.pub_footer .pub_footerin:after{
		content: "";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}
	.pub_footer .pub_footerin .left{
		float: left;
		width: 340px;
		height: 140px;
	}
	.pub_footer .pub_footerin .left img{
		display: block;
		width: 120px;
		height: 120px;
		float: left;
	}
	.pub_footer .pub_footerin .left img:first-child{
		margin: 0 60px 0 0 ;
	}
	.pub_footer .pub_footerin .left p{
		font-size: 12px;
		width: 120px;
		height: 20px;
		line-height: 12px;
		color: #999999;
		float: left;
		text-align: center;
		padding-top: 8px;
	}
	.pub_footer .pub_footerin .left p.b{
		margin: 0 0 0 60px;
	}
	.pub_footer .pub_footerin .right{
		float: right;
		height: 140px;
		width: 800px;
	}
	.pub_footer .pub_footerin .right h1{
		width: 100%;
		height: 40px;
		position: relative;
		overflow: hidden;
		font-weight: normal;
	}
	.pub_footer .pub_footerin .right h1 span,.pub_footer .pub_footerin .right h1 em{
		font-size: 14px;
		color: #dbdbdb;
		display: block;
		float: left;
		background: #011e48;
		padding: 0 15px;
		line-height: 40px;
		font-style: normal;
	}
	.pub_footer .pub_footerin .right h1 em{
		background: #31425b;
	}
	.pub_footer .pub_footerin .right ul{
		width: 100%;
		position: relative;
		height: 40px;
		overflow: hidden;
		margin: 20px 0;
	}
	.pub_footer .pub_footerin .right ul li{
		float: left;
		height: 40px;
		width: 15.8%;
		line-height: 40px;
		text-align: right;
		overflow: hidden;
		font-size: 14px;
	}
	.pub_footer .pub_footerin .right ul li:first-child{
		width: auto;
	}
	.pub_footer .pub_footerin .right ul li a{
		color: #999999;
	}
	.pub_footer .pub_footerin .right ul li a:hover{
		color: #bd2315;
	}
	.pub_footer .pub_footerin .right h2{
		width: 100%;
		height: 20px;
		font-weight: normal;
		overflow: hidden;
	}
	.pub_footer .pub_footerin .right h2 span,
	.pub_footer .pub_footerin .right h2 a{
		display: block;
		font-size: 14px;
		color: #999999;
		line-height: 20px;
		float: left;
	}
	.pub_footer .pub_footerin .right h2 a{
		float: right;
		padding: 0 10px;
		position: relative;
	}
	.pub_footer .pub_footerin .right h2 a:before{
		content: "";
		width: 1px;
		height: 10px;
		background: #999999;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -5px;
	}
	.pub_footer .pub_footerin .right h2 a:last-child:before{
		display: none;
	}
	/*pc*/
	@media screen and (min-width: 769px) and (max-width: 1200px){
		.pub_footer .pub_footerin{
			width: 100%;
		}
		.pub_footer .pub_footerin .right{
			width: 80%;
			float: none;
			margin: 0 auto;
		}
		.pub_footer .pub_footerin .left{
			display: none;
		}
	}
	/*ipad*/
	@media screen and (max-width: 768px){
		.pub_footer{padding: 10px;}
		.pub_footer .pub_footerin,.pub_footer .pub_footerin .right{
			width: 100%;
			height: auto;
		}
		.pub_footer .pub_footerin .left,.pub_footer .pub_footerin .right h1,.pub_footer .pub_footerin .right ul{
			display: none;
		}
		.pub_footer .pub_footerin .right h2{
			text-align: center;
			height: auto;
		}
		.pub_footer .pub_footerin .right h2 span, .pub_footer .pub_footerin .right h2 a{
			display: inline-block;
			float: none;
		}

	}

/*面包屑导航*/
	.pub_mianbao{
		width: 100%;
		min-height: 60px;
		line-height: 60px;
		border-bottom: 1px solid #eeeeee;
	}
	.pub_mianbao:after{
		content: "";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}
	.pub_mianbao .pub_mianbaoin{
		width: 90%;
		margin: 0 auto;
		line-height: inherit;
	}
	.pub_mianbao .pub_mianbaoin .left{
		float: left;
		padding: 0 0 0 50px;
		position: relative;
		height: 60px;
	}
	.pub_mianbao .pub_mianbaoin .left>i{
		display: block;
		width: 50px;
		height: inherit;
		position: absolute;
		left: 0;
		top: 0;
		border-left: 1px solid #eeeeee;
		border-right: 1px solid #eeeeee;
		background: url(/template/company/beijingqiche/img/a12.png) center no-repeat;
		background-size: 20px 18px;
		-webkit-background-size: 20px 18px;
	}
	.pub_mianbao .pub_mianbaoin .left>span,.pub_mianbao .pub_mianbaoin .left>a{
		display: block;
		float: left;
		padding: 0 15px;
		color: #666666;
		font-size: 14px;
	}
	.pub_mianbao .pub_mianbaoin .left>a{
		color: #bd2315;
		background: url(/template/company/beijingqiche/img/a14.png) left center no-repeat;
		background-size: 5px 9px;
		-webkit-background-size: 5px 9px;
	}
	.pub_mianbao .pub_mianbaoin .right{
		float: right;
		height: inherit;
		line-height: inherit;
		text-align: center;
	}
	.pub_mianbao .pub_mianbaoin .right li{
		display: inline-block;
		height: 60px;
		line-height: 60px;
	}
	.pub_mianbao .pub_mianbaoin .right li a{
		display: block;
		min-width: 85px;
		text-align: center;
		font-size: 14px;
		color: #333333;
		line-height: inherit;
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 92px 3px;
		-webkit-background-size: 92px 3px;
		position: relative;
	}
	.pub_mianbao .pub_mianbaoin .right li.on a{
		background-image: url(/template/company/beijingqiche/img/a13.png);
	}
	.pub_mianbao .pub_mianbaoin .right li:hover a{
		background-image: url(/template/company/beijingqiche/img/a13.png);
	}
	@media screen and (max-width: 1200px){
		.pub_mianbao .pub_mianbaoin .left{
			display: none;
		}
		.pub_mianbao .pub_mianbaoin .right{
			float: none;
		}
	}

/*内页banner*/
	.neibanner{
		width: 100%;
		height: 262px;
		position: relative;
		overflow: hidden;
	}
	.neibanner>.img{
		display: block;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		-webkit-background-size: cover;
	}
	.neibanner{
		/* -webkit-transition: all .3s ease-in-out 0s;
			-moz-transition: all .3s ease-in-out 0s;
			-ms-transition: all .3s ease-in-out 0s;
			-o-transition: all .3s ease-in-out 0s;
			transition: all .3s ease-in-out 0s; */
	}
	/*pc*/
	@media screen and (max-width: 1200px){
		.neibanner{
			height: 200px;
		}
	}
	@media screen and (min-width: 769px) and (max-width: 1000px){
		.neibanner{
			height: 170px;
		}
	}
	/*ipad*/
	@media screen and (max-width: 768px){
		.neibanner{
			height: 150px;
		}
	}

/*翻页样式*/
	.pub_fan{
		width: 100%;
		text-align: right;
		height: 35px;
		font-size: 0;
	}
	.pub_fan>a,
	.pub_fan>span{
		display: inline-block;
		height: 35px;
		border: 1px solid #e6e6e6;
		text-align: center;
		padding: 0 15px;
		line-height: 35px;
		font-size: 14px;
		color: #666;
		margin: 0 0 0 10px;
		/* -webkit-transition: all .3s ease-in-out 0s;
		-moz-transition: all .3s ease-in-out 0s;
		-ms-transition: all .3s ease-in-out 0s;
		-o-transition: all .3s ease-in-out 0s;
		transition: all .3s ease-in-out 0s; */
	}
	.pub_fan>span{
		border: none;
	}
	.pub_fan>a.on{
		border: 1px solid #333333;
		background: #333333;
		color: #fff;
	}
	.pub_fan>a:hover{
		border: 1px solid #333333;
		background: #333333;
		color: #fff;
	}
	/*ipad*/
	@media screen and (max-width: 768px){
		.pub_fan{
			text-align: center;
		}
	}

/*右侧功能栏*/
	.pub_btn{
		position: fixed;
		right: 0;
		top: 50%;
		z-index: 1234567890;
		display: none;
	}
	.pub_btn div.box{
		width: 50px;
		height: 50px;
		background: #c4c4c4;
		margin: 0 0 15px 0;
		position: relative;
		text-align: center;
		cursor: pointer;
		border-radius: 4px;
		-o-border-radius: 4px;
		-ms-border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		-webkit-transition: all .3s ease-in-out 0s;
		-moz-transition: all .3s ease-in-out 0s;
		-ms-transition: all .3s ease-in-out 0s;
		-o-transition: all .3s ease-in-out 0s;
		transition: all .3s ease-in-out 0s;
	}
	.pub_btn div.box span{
		display: block;
		font-size: 12px;
		color: #ffffff;
	}
	.pub_btn div.box i{
		display: block;
		width: 30px;
		height: 30px;
		margin: 0 auto;
		position: relative;
		background-image: url(/template/company/beijingqiche/img/b17.png);
		background-repeat: no-repeat;
		background-size: 30px 120px;
		-webkit-background-size: 30px 120px;
	}
	.pub_btn div.box1 i{background-position: 0 0}
	.pub_btn div.box2 i{background-position: 0 -30px}
	.pub_btn div.box3 i{background-position: 0 -60px}
	.pub_btn div.box4 i{
		background-position: 0 -90px;
		top: 10px;
	}
	.pub_btn div.box>div.in{
		position: absolute;
		top: 0;
		margin-left: -70px;
		right: -500px;
		background: #c4c4c4;
		padding: 5px;
		border-radius: 4px;
		-o-border-radius: 4px;
		-ms-border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		color: #fff !important;
		z-index: -1;
		-webkit-transition: all .3s ease-in-out 0s;
		-moz-transition: all .3s ease-in-out 0s;
		-ms-transition: all .3s ease-in-out 0s;
		-o-transition: all .3s ease-in-out 0s;
		transition: all .3s ease-in-out 0s;
	}

	@media screen and (min-width: 1200px){
		.pub_btn div.box:hover,
		.pub_btn div.box:hover>div{
			background: #d12519;
		}
		.pub_btn div.box1:hover,
		.pub_btn div.box2:hover{
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
		.pub_btn div.box:hover>div.in{
			margin-left: 0;
			right: 50px;
		}

	}



	.pub_btn div.box1>div.in{
		height: 50px;
		line-height: 40px;
		white-space: nowrap;
	}
	.pub_btn div.box2>div.in{
		bottom:0;
		top: auto;
	}
	.pub_btn div.box1.on{
		background: #d12519;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	.pub_btn div.box1.on>div{
		background: #d12519;
	}
	.pub_btn div.box1.on>div.in{
		margin-left: 0;
		right: 50px;
		height: 50px;
		line-height: 40px;
		white-space: nowrap;
	}

	.pub_btn div.box2.on{
		background: #d12519;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	.pub_btn div.box2.on>div{
		background: #d12519;
	}
	.pub_btn div.box2.on>div.in{
		margin-left: 0;
		right: 50px;
		bottom:0;
		top: auto;
	}












































































